.home-page-1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f1c89a;
    width: 1440px;
    height: 119px;
}
.q-a-bar {
    position: absolute;
    top: 46px;
    left: 1215px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 40px;
}

.q-a-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 30px;
    display: inline-block;
    text-align: center;
}

.q-a-bar a:hover {
    color: #005534;
}

.logo {
    position: absolute;
    top: 177px;
    left: 161px;
    width: 409px;
    height: 378px;
    object-fit: cover;
}
.logo-bar {
    position: absolute;
    top: 20px;
    left: 57px;
    width: 84px;
    height: 84px;
    object-fit: cover;
    border-radius: 50%;
}

.logo-link {
    display: inline-block;
    text-decoration: none;
}

.eduvacation {
    position: absolute;
    top: 241px;
    left: calc(50% - 54px);
    font-size: 90px;
    display: inline-block;
    justify-content: center;
    width: 731px;
    height: 116px;
}

.eduvacation-bar {
    position: absolute;
    top: 46px;
    left: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 40px;
}

.eduvacation-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 40px;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.eduvacation-bar a:hover {
    color: #005534;
}

.slogan {
    position: absolute;
    top: 398px;
    left: calc(50% - 54px);
    font-size: 40px;
    display: inline-block;
    width: 731px;
    height: 116px;
}
.home-page-item {
    position: absolute;
    top: 767px;
    left: 761px;
    background-color: #f1c89a;
    width: 541px;
    height: 110px;
}
.home-page-inner {
    position: absolute;
    top: 555px;
    left: 761px;
    background-color: #f1c89a;
    width: 541px;
    height: 110px;
}
.book-homepage {
    position: absolute;
    top: 577px;
    left: 851px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 362px;
    height: 66px;
}

.book-homepage a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 40px;
    display: inline-block;
}

.book-homepage a:hover {
    color: #005534;
}

.about-homepage {
    position: absolute;
    top: 789px;
    left: 851px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 362px;
    height: 66px;
}

.about-homepage a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 40px;
    display: inline-block;
}

.about-homepage a:hover {
    color: #005534;
}

.home-bar {
    position: absolute;
    top: 46px;
    left: 792px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 40px;
}

.home-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 30px;
    display: inline-block;
}

.home-bar a:hover {
    color: #005534;
}

.map-bar {
    position: absolute;
    top: 46px;
    left: 1084px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 40px;
}

.map-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 30px;
    display: inline-block;
}

.map-bar a:hover {
    color: #005534;
}

.about-us-bar {
    position: absolute;
    top: 46px;
    left: 933px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 209px;
    height: 40px;
}

.about-us-bar a {
    text-decoration: none;
    color: inherit;
    font-family: 'Piedra', cursive;
    font-size: 30px;
    display: inline-block;
}

.about-us-bar a:hover {
    color: #005534;
}

.homepage-para {
    position: absolute;
    top: 614px;
    left: 103px;
    display: inline-block;
    width: 525px;
    height: 316px;
}
.home-page {
    width: 100%;
    position: relative;
    background-color: #f9f6ef;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    color: #000;
    font-family: Piedra;
}
